body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 562.5%;
  margin: 50px 100px 0 100px;
  font-family: 'sans-serif';
  color: rgb(213, 11, 11);
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: rgb(213, 11, 11);
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: rgb(213, 11, 11);
  margin-left: 10px;
}

ul{
  margin-left: 10px;
}

p{
  line-height: 2;
}

blockquote{
  text-align: right;
  margin-right: 20px;
}

table{
  border-collapse: collapse;
  border:1px solid black;
  width: 100%
}
td{
  border:1px solid black;
}
tr{
  border:1px solid black;
}
th{
  border:1px solid black;
}


.navbar {
  overflow: hidden;
  background-color: rgb(192, 5, 5);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar div a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar div {
  float: right; 
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.profile_picture {
  width: 15%;
  float: right;
  margin-right: 30px;
}

.middle_container {
  padding-left: 20px;
  margin: 80px 10px;

}

.languages{
  padding-left: 20px;
  text-align: left;
}

.blockquote_div{
  text-align: right;
  margin-right: 40px;
}


.yoda_img{
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 10%;
}

.middle_container_skills {
  padding-left: 20px;
  margin: 80px 10px;

}

.middle_container_education {
  padding-left: 20px;
  margin: 80px 10px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.skill-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-image2{
  width: 25%;
  float: left;
  margin-right: 30px;
}
